.music
{
    height: 100vh;
    width: 50%;
    float: left;
}
.header
{
    color: white;
    font-size: 250%;
    z-index: 1;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    top: 70%;
    left: 4%;

}
.account
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    z-index:1;
    top:5%;
    left:4%;
    font-size:1.75rem;
}
.buttonbanner
{
    width: 7.125rem;
    height: 2.625rem;
    position: absolute;
    z-index: 1;
    top: 9%;
    left: 60vh;
    border-color: #72DB73;
}