.personalWholeDiv {
  display: flex;
  justify-content: space-between;
  transform: scale(0.85);
  flex-direction: row;
}
.halfSectionLeft {
  display: flex;
  justify-content: space-between;
}
.topLeftDiv {
  margin-top: -4%;
  margin-left: 7%;
  width: 40rem;
}
.topRightDiv {
  height: 35rem;
  margin-top: -1.5%;
  margin-right: 7%;
}
.topMiddleDiv {
  margin-left: 0%;
  margin-top: -1%;
}
